body {
  background: #1A1A1D;
  color: #6F2232;
  padding: 10px;
}

button {
  background-color: #950740;
}

.CDP-info {
  padding: 20px;
  margin: 2px;
}

.CDP-info label {
  font-weight: bold;
  color: #C3073F;
}
