body {
  background: #1A1A1D;
  color: #6F2232;
  padding: 10px;
}

button {
  background-color: #950740;
}

.alert {
  color: white;
  border: 2px solid white;
}

/* .CDP-info {
  border: 1px solid white;
} */

.CDP-info .row {
  margin-top: 2px;
  padding: 2px;
}

.CDP-info .column {
  border-bottom: 1px solid white;
}

.CDP-info .label {
  border-right: 1px solid white;
}

hr {
  border: 1px solid whitesmoke;
}

#alert-title {
  justify-content: center;
}

.CDP-info {
  padding: 20px;
  margin: 2px;
}

.CDP-info label {
  font-weight: bold;
  color: #C3073F;
}
